* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

:root {
  --title-font: "Pacifico", cursive;
  --open-sans: "Open Sans", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
}

header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  background: #43c6ac;
  background: -webkit-linear-gradient(to right, #f8ffae, #43c6ac);
  background: linear-gradient(to right, #f8ffae, #43c6ac);
}

.logo {
  height: 100%;
}

.title {
  display: none;
  font-family: var(--title-font);
  color: #2f3640;
}

.notification-avatar-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.notification,
.avatar {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification img {
  height: 35%;
}

.avatar img {
  background-color: #fff;
  height: 55%;
  border-radius: 50%;
  border: 2px solid #646665;
}

main {
  height: calc(100vh - 15vh);
  background-color: red;
  overflow: auto;
}

main aside {
  display: none;
}

.gallery-section {
  width: 100%;
  /* height: 100%; */
  background-color: #fff;
  overflow: auto;
}

.search-photo {
  width: 100%;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../assets/images/pexels-gsn-travel-28518085.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(36, 34, 34, 0.498);
  position: relative;
}

#search {
  width: 70%;
  padding: 15px;
  border: 1px solid #9f9d9d;
  outline: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #f6f0f0;
  font-family: var(--open-sans);
  font-weight: 800;
}

.search-btn {
  padding: 15px 35px;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  cursor: pointer;
  font-family: var(--open-sans);
  font-size: 0.9rem;
  font-weight: bold;
  background-color: #56ccac;
}

.photos-section {
  height: calc(100% - 15%);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2px;
}

.photo-container {
  width: 80%;
  height: 350px;
  display: flex;
  flex-direction: column;
  background-color: #d6d2d2;
  border-radius: 10px;
  margin-top: 15px;
  overflow: hidden;
}

.photo-container .photo {
  width: 100%;
  height: 50%;
}

.photo-name {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.photo-container .photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.photo-utilities {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
}

.user-info {
  height: 50%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.user-info img {
  height: 80%;
}

.user-name {
  font-size: 0.9rem;
  font-weight: 600;
}

.location {
  font-size: 0.7rem;
}

.photo-info {
  height: 50%;
  display: flex;
  gap: 10px;
}

.likes {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.likes img {
  height: 50%;
}

.likes-amount {
  font-weight: bold;
  font-size: 0.8rem;
}

.created-time {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.created-time img {
  height: 50%;
}

.created-time p {
  font-weight: bold;
  font-size: 0.7rem;
}

.switch-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin: 20px;
}

.switch-gallery button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .title {
    display: flex;
    align-items: center;
  }
  .photo-container {
    width: 48%;
    height: 550px;
  }

  .photo-info {
    width: 100%;
    justify-content: space-evenly;
  }
}

@media (min-width: 992px) {
  .notification img {
    height: 45%;
  }
  .avatar img {
    height: 85%;
  }
  #search {
    width: 60%;
  }
  .photo-container {
    width: 32%;
    height: 550px;
  }

  .photo-info {
    width: 100%;
    justify-content: space-evenly;
  }
}
